
/*

ARCHIVO CSS PERSONALIZADO

Autor: Cristhian Alejandro Ortiz Morales

Autor: Cristhian Alejandro Ortiz Morales
Fecha: 2 de julio de 2023

*/

   
.container{
    background-color: #ecf0f1;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #000000;
  }
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}